[Desktop Entry]
Type=Application
TryExec=todo
Exec=todo
Icon=/usr/share/icons/todo/appicon.png
Terminal=false
Categories=Utility;Office;

Name=todo
GenericName=Task Management
Comment=A simple task management program